.custom-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.custom-contact-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-contact-break {
    overflow-wrap: break-word;
}

.style-our-clients {
    text-align: center;
}

.resena-position-fix {
    padding-top: 30px;
}

.centered-text {
    text-align: center;
}

.text-match-parent {
    text-align: -webkit-match-parent;
}